# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/

# macOS system files
.DS_Store

# Model & data files
*.pkl
*.csv

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log
